* {
    margin: 0;
    box-sizing: border-box;
}
#hero {
    background-image: url('Assets/Hero-image.png');
    background-size: cover;
    background-position: center;
    color: white;
}
#hero-content {
    margin-left: 51%;
    padding-top: 95px;
    height: 80vh;
    width: 40vw;
}
#hero-header {
    font-family: Teko, Arial, Helvetica;
    font-size: 5.5rem;
    line-height: 1;
}
#hero-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.4;
}
#ratings {
    margin-top: 20px;
}
.rating-img {
    padding-right: 30px;
}
#hero-form {
    position: absolute;
    background: #ffbd14;
    width: 45vw;
    margin-left: 5%;
    top: 62%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#form-title {
    font-family: Teko, Arial, Helvetica;
    color: #403230;
    width: 100%;
    font-size: 3rem;
    margin: 20px 0 20px 0;
}
#form-field-group {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.form-field {
    width: 48%;
    margin-bottom: 15px;
    height: 55px;
    border: none;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.25rem;
    padding-left: 15px;
}
#select-service {
    width: 80%;
    background-color: white;
    border: none;
    height: 55px;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.25rem;
    color: #403230;
    padding-left: 15px;
}
#submit-request {
    width: 80%;
    height: 60px;
    background-color: #403230;
    color: white;
    border: none;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.5rem;
    margin: 15px 0 30px 0;
}
#submit-request:hover {
    opacity: 90%;
    cursor: pointer;
}
#review {
    border-left: 8px solid #ffbd14;
    width: 38vw;
    margin-left: 55%;
    padding-left: 30px;
    margin-top: 80px;
}
#review-text {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
}
#review-profile {
    display: flex;
    margin-top: 20px;
}
#review-profile-text {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 15px;
}
#review-name {
    font-family: Teko, Arial, Helvetica;
    margin: 5px 0 0px 0;
}
#review-location {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 60%;
    font-size: 0.9rem;
    margin: -15px 0 -15px 0;
}
#section1-intro {
    margin-top: 225px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#section1-intro-title2 {
    font-family: Teko, Arial, Helvetica;
    opacity: 50%;
    text-align: center;
    font-size: 1.8rem;
    color: #403230;
    width: 100%;
}
#section1-intro-title1 {
    font-family: Teko, Arial, Helvetica;
    text-align: center;
    font-size: 3rem;
    color: #403230;
    width: 50%;
    line-height: 1;
    margin: 15px 0 15px 0;
}
#section1-intro-text {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    text-align: center;
    opacity: 70%;
}
#promises {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 60px;
}
.promise {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.promise-title {
    font-family: Teko, Arial, Helvetica;
    font-size: 2rem;
    width: 100%;
    color: #403230;
    margin-top: 30px;
}
.promise-text {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
}
#section1-title1 {
    font-family: Teko, Arial, Helvetica;
    text-align: center;
    font-size: 4.5rem;
    color: #403230;
    width: 100%;
}
#second-section {
    margin-top: 150px;
    padding-bottom: 50px;
}
#section2-title2 {
    font-family: Teko, Arial, Helvetica;
    opacity: 50%;
    text-align: center;
    font-size: 1.8rem;
    color: #403230;
    width: 100%;
}
#services-group {
    width: 100vw;
    display: flex;
    height: 550px;
    justify-content: space-evenly;
}
.sg {
    display: flex;
    justify-content: space-evenly;
    width: 33vw;
    color: white;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-bottom: 60px;
}
#sg1 {
    background:linear-gradient(to top, #1b0a08b9, #1b0a08b9), url('Assets/commercial-roofing.png');
    object-fit: cover;
}
#sg2 {
    background:linear-gradient(to top, #1b0a08b9, #1b0a08b9), url('Assets/residential-roofing.png');
    object-fit: cover;
}
#sg3 {
    background:linear-gradient(to top, #1b0a08b9, #1b0a08b9), url('Assets/siding.png');
    object-fit: cover;
}
.sg-content {
    width: 320px;
    height: 120px;
    text-align: center;
}
.sg-title {
    font-family: Teko, Arial, Helvetica;
    font-size: 2rem;
}
.sg-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}