* {
    margin: 0;
    box-sizing: border-box;
}
#hero {
    background-image: url('/Assets/Hero-image.png');
    background-size: cover;
    background-position: center;
    color: white;
}
#hero-content {
    margin-left: 51%;
    padding-top: 95px;
    height: 80vh;
    width: 40vw;
}
#hero-header {
    font-family: Teko, Arial, Helvetica;
    font-size: 5.5rem;
    line-height: 1;
}
#hero-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.4;
}
#ratings {
    margin-top: 20px;
}
.rating-img {
    padding-right: 30px;
}
#hero-form {
    position: absolute;
    background: #ffbd14;
    width: 45vw;
    margin-left: 5%;
    top: 65%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
#form-title {
    font-family: Teko, Arial, Helvetica;
    color: #403230;
    width: 100%;
    font-size: 3rem;
}
.form-field {
    width: 37%;
    margin-bottom: 15px;
    height: 55px;
    border: none;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.25rem;
}
#select-service {
    width: 80%;
    background-color: white;
    border: none;
    height: 55px;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.25rem;
    color: #403230;
}
#submit-request {
    width: 80%;
    height: 60px;
    background-color: #403230;
    color: white;
    border: none;
    font-family: Teko, Arial, Helvetica;
    font-size: 1.5rem;
    margin: 15px 0 30px 0;
}